<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>Your ...!</h3>
            </div>
            <div class="col-4">
                <h3>Your links!</h3>
            </div>
            <div class="col-4">
                <h3>Social network!</h3>
                <a href="#"><i class="ico-fac fab fa-facebook-square fa-2x"></i></a>
                <a href="#"><i class="ico-twi fab fa-twitter-square fa-2x"></i></a>
                <a href="#"><i class="ico-goo fab fa-google-plus-square fa-2x"></i></a>
            </div>
        </div>
        <p class="text-center">E-Commerce &copy; Copyright by ~~~###~~~!</p>
    </div>
</footer>